*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4eaff;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

.form {
  max-width: 800px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: #fff;
}

.form__container {
  display: flex;
  gap: 1.4rem;
  padding: 1rem;
}

.form__sidebar {
  background: linear-gradient(45deg, #013d7d, #00b7ff);
  width: 30rem;
  height: 60rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.8rem;
}

.form__step {
  width: 90%;
  flex-direction: column;
  justify-content: center;
  display: none;
  position: relative;
}

.form__step:nth-of-type(2) {
  display: flex;
}

.form__step:nth-of-type(6) {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.form__step:nth-of-type(6) .header {
  line-height: 2;
  padding: 0;
}

.form__step:nth-of-type(6) .header__title {
  font-size: 2rem;
}

.form__step:nth-of-type(6) .header__description {
  color: #989898;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.form__step:nth-of-type(2) form {
  flex-direction: row;
  margin-top: 2rem;
  gap: 2.5rem;
}

.form__step form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 1rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  grid-column: span 8;
  justify-items: baseline;
}

.form__field--bnum {
  grid-column: span 6;
}

.form__field--zipcode {
  grid-row: 3;
  grid-column: span 7;
}

.form__field--phone {
  grid-column: span 7;
}

.form__field--city, .form__field--email {
  grid-column: span 10;
}

.form__field input {
  font-size: 1.3rem;
  padding: 0.6rem;
  border: 1px solid #717171;
  border-radius: 0.8rem;
  font-weight: 500;
}

.form__field input.err {
  border: 2px solid red;
}

.form__field input:focus {
  outline-color: #006fe6;
}

.form__field input::placeholder {
  color: #b0b0b0;
}

.form__field label {
  font-size: 1.3rem;
}

#form-details {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(24, 1fr);
}

.plan__card {
  border: 2px solid #d5d5d5;
  border-radius: 0.8rem;
  width: 15rem;
  height: 18rem;
  cursor: pointer;
  padding: 1rem;
}

.plan__card--info {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
}

.plan__card--info b {
  color: #000000;
  font-size: 1.4rem;
}

.plan__card--info span {
  color: #9b9b9b;
}

.summary {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.summary__container {
  background-color: #e8f3f9;
  padding: 1.5rem;
  margin-top: 3rem;
}

.summary__plans {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1.2rem;
}

.summary__details {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.summary__details--price {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: #787878;
  margin-bottom: 1rem;
}

.summary__details--price b {
  color: #bf3a06;
  font-size: 1.4rem;
}

.summary__details--header {
  font-weight: 700;
  font-size: 1.3rem;
}

.summary__addons {
  font-size: 1.1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.summary__plan {
  display: flex;
  justify-content: space-between;
  color: #0d0827;
  font-weight: 700;
  font-size: 1.3rem;
}

.summary__addon {
  display: flex;
  justify-content: space-between;
  color: #878787;
  font-weight: 500;
}

.summary__addon--price {
  color: #0d0827;
}

.summary__total--price {
  padding: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9c9c9c;
}

.summary__total--price b {
  color: #bf3a06;
  font-size: 1.8rem;
}

.selected {
  border: 2px solid #130f7d;
  background-color: #e8f3f9;
}

.message__error {
  font-size: 1.1rem;
  font-weight: 700;
  color: #f00;
  transition: all 0.7s;
}

.message__error--detail {
  margin-top: 0.2rem;
}

.message__error--s1 {
  line-height: 1.7;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-20%, 0);
}

.message__error.hide {
  opacity: 0;
}

.page__step {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.page__step--circle {
  font-weight: 700;
  font-size: 1.4rem;
  width: 30%;
  width: 4rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.page__step--circle.active {
  background-color: #54d7ff;
  color: #2e2e2e;
}

.page__step--content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.page__step--content span {
  text-transform: uppercase;
  color: #e0e0e0;
  font-weight: 500;
}

.page__step--content b {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
}

.page__price {
  margin-top: auto;
}

.page__price--current {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.page__price--current b {
  color: #ffaa00;
  font-size: 1.8rem;
}

.header {
  margin-bottom: auto;
  padding-top: 1rem;
}

.header__title {
  color: #032136;
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}

.header__description {
  color: #717171;
  font-size: 1.2rem;
  padding-right: 0.8rem;
  line-height: 1.5;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: whitesmoke;
  border: none;
  box-shadow: 0 0 20px #cccccc;
  background-size: 200% auto;
  padding: 1.4rem 3rem;
  border-radius: 0.8rem;
  transition: 0.5s;
  cursor: pointer;
}

.btn--next {
  background-image: linear-gradient(to right, #1a2980 0%, #26d0ce 51%, #1a2980 100%);
  margin: auto 1rem 2rem auto;
}

.btn--next:hover {
  background-position: right center;
  color: #fff;
}

.btn--prev {
  background-image: linear-gradient(to right, #24323d 0%, #b5b5b5 51%, #304352 100%);
  margin: auto 0 2rem;
}

.btn--prev:hover {
  background-position: right center;
  color: #fff;
}

#btn-end {
  display: none;
}

.preview {
  margin: 1rem 0;
}

.preview__header {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.preview__container {
  display: flex;
}

.preview__container--img {
  position: relative;
  display: inline-block;
}

.preview__container--label {
  display: flex;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.gallery__nav {
  position: relative;
}

.gallery__nav--spin {
  background-color: #2f2f2f;
  color: #dddddd;
  padding: 0.6rem 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.gallery__nav--spin:hover {
  transform: translate(-50%, -0.2rem);
}

.gallery__nav--spin:active {
  transform: translate(-50%, -0.6rem);
}

.gallery__nav--prev {
  background-color: #636363;
  color: #ededed;
  padding: 0.6rem 1.4rem;
  position: absolute;
  left: -55%;
  transform: translateX(10%);
  transition: all 0.4s;
}

.gallery__nav--prev:hover {
  transform: translate(10%, -0.2rem);
}

.gallery__nav--prev:active {
  transform: translate(10%, -0.6rem);
}

.gallery__nav--next {
  background-color: #636363;
  color: #ededed;
  padding: 0.6rem 1.4rem;
  position: absolute;
  right: -55%;
  transform: translateX(-20%);
  transition: all 0.4s;
}

.gallery__nav--next:hover {
  transform: translate(-20%, -0.2rem);
}

.gallery__nav--next:active {
  transform: translate(-20%, -0.6rem);
}

.gallery__nav button {
  border-radius: 20rem;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.gallery__img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.img {
  height: 13rem;
}

.img__logo--front {
  max-width: 4rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.img__logo--back {
  max-width: 4rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.img__logo--preview {
  margin-left: 0.4rem;
  max-width: 8rem;
}

#icon-ok {
  width: 6rem;
  margin: 0 auto;
}

#selected-img {
  width: 15rem;
  margin: 0 auto;
}
