$color-white: #fff;
$color-yellow: #ffaa00;

$color-red: #e80000;
$color-red-2: #bf3a06;

$color-blue-1: #54d7ff;
$color-blue-2: #d4eaff;
$color-blue-3: #e8f3f9;
$color-blue: #006fe6;
$color-blue-dark: #130f7d;

$color-grey-1: #b0b0b0;
$color-grey-2: #989898;
$color-grey-3: #717171;

$color-dark: #2e2e2e;
$color-light-1: #e0e0e0;
